* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    background-color: whitesmoke;
}

h1 {
    text-align: center;
    padding: 50px 20px;
    margin-bottom: 20px;
}

main {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 20px 30px;
}

.sketch-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.sketch-board {
    display: grid;
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
    align-self: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: crosshair;
}

.storage-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    text-align: center;
}

.options button,
.storage-buttons button {
    padding: 10px 25px;
    border: none;
    background-color: cornflowerblue;
    color: black;
    cursor: pointer;
}

.options button:hover,
.storage-buttons button:hover {
    color: cornflowerblue;
    background-color: black;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: -10px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

#slider-value {
    text-align: center;
    margin-bottom: 5px;
}

#brush-color,
#bg-color {
    -webkit-appearance: none;
    border: none;
    padding: 0;
    width: 50px;
    height: 50px;
    outline: 0px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border-radius: 50%;

}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

button.active {
    color: cornflowerblue;
    background-color: black;
}