@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');


:root {
    --secondary-color: rgb(7, 72, 72);
    --primary-font: 'Roboto';
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--primary-font);
}

html,
body {
    width: 100%;
    background-color: whitesmoke;
}

h1 {
    text-align: center;
    padding: 50px 20px;
    font-size: 100px;
    font-family: 'Caveat';
}

main {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 20px 30px;
}

.sketch-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.sketch-board {
    display: grid;
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
    align-self: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: crosshair;
}

.storage-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    text-align: center;
}

.options-button {
    background-image: linear-gradient(to bottom, #fff, whitesmoke);
    border: 0 solid #e5e7eb;
    border-radius: .5rem;
    color: #000000;
    cursor: pointer;
    display: flex;
    font-size: 100%;
    font-weight: 700;
    line-height: 8px;
    margin: 0;
    justify-content: center;
    padding: 1rem;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: -6px 8px 10px rgba(48, 44, 42, 0.1), 0px 2px 2px rgba(48, 44, 42, 0.2);
    font-family: 'Roboto';
}

.options-button:active {
    box-shadow: -1px 2px 5px rgba(48, 44, 42, 0.15), 0px 1px 1px rgba(48, 44, 42, 0.15);
    transform: translateY(0.125rem);
}

.options-button:disabled,
.options-button[disabled] {
    background-image: none;
    background-color: gray;
}

.options-button:disabled:active,
.options-button[disabled]:active {
    box-shadow: none !important;
    transform: none !important;
}

.active {
    box-shadow: rgba(7, 72, 72, 0.46) 0 0 0 4px, -6px 8px 10px rgba(7, 72, 72, 0.1), 0px 2px 2px rgba(7, 72, 72, 0.2);
}


.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: -10px;
    border-radius: 10px;
}

.slider:hover {
    opacity: 0.9;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--secondary-color);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--secondary-color);
    cursor: pointer;
}

#slider-value {
    text-align: center;
    margin-bottom: 5px;
}

#brush-color,
#bg-color {
    -webkit-appearance: none;
    border: none;
    padding: 0;
    width: 50px;
    height: 50px;
    outline: 0px;
    cursor: pointer;
    display: block;
    margin: 0 auto 5px;
    border-radius: 50%;

}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

.sketch-board {
    position: relative;
    transition: 0.5s filter linear;
    cursor: auto;
}

.sketch-board-wrap {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.storage-div {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border-radius: 10px;
    justify-content: center;
    align-items: center;

}

#save-div {
    justify-content: center;
    align-items: center;
}

#paste-div {
    justify-content: center;
    align-items: space-around;
}

#save-option-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10px;
    gap: 10px;
    padding: 15px 30px;
    width: 250px;
    height: fit-content;
}

#save-option-div .action-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input {
    width: 100%;
}

.input p {
    opacity: 0;
    color: rgb(192, 49, 49);
    transition: opacity 0.5s ease;
    text-align: left;
    font-style: italic;
}

#painting-name {
    display: block;
    border-radius: 10px;
    padding: 5px 10px;
    width: 100%;
    border: 2px solid var(--secondary-color);
}

label[for="painting-name"] {
    font-size: 20px;
}

#painting-name:focus {
    outline: none;
}

.storage-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 10px;
    border-radius: 10px;
}

#paste-option-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 5px;
}



.small-board-wrap {
    position: relative;

}

#small-board {
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    width: 250px;
    height: 250px;
    display: grid;
    overflow: hidden;
    opacity: 1;
    transition: .5s ease;
}



.small-board-wrap:hover #small-board {
    opacity: 0.3;
}

.small-board-wrap:hover .small-board-actions {
    opacity: 1;
}


.small-board-actions {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transition: 0.5s ease;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#paste-board, #delete-board {
    transition: background-color 0.5s ease;
}

#paste-board:hover {
    background-image: none;
    background-color: var(--secondary-color);
    color: whitesmoke;
}

#delete-board:hover {
    background-image: none;
    background-color: #D61C4E;
    color: whitesmoke;
}

#paste-option-div .gallery-navigation {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#previous, #next {
    font-size: 12px;
    padding: 0.75rem;
}

#name-ok, #name-cancel {
    font-size: 12px;
    padding: 0.5rem 0.75rem;
}

#empty-ok {
    font-size: 12px;
    padding: 0.75rem;
    align-self: stretch;
}


#gallery-empty-modal {
    justify-content: center;
    align-items: center;
}

.content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10px;
    padding: 10px 30px;
    width: 250px;
    min-height: 100px;
    gap: 20px;
}

#close-icon {
    align-self: flex-end;
    cursor: pointer;
    margin-top: 5px;
}